section{
    width:auto;
    height:auto;
    /* border:1px solid black; */

    /* max-width: 50%;
    height: auto; */

 
    /* display: block; */
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;

  }

  html, body{
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
  

.ocultar{
    display:none;
}

#mainScreen_hangMan{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#titleWithText{
    margin-left: 12.5%;
    margin-top: 12%;
}

#mainCharacter{
    margin-left: 73%;
    margin-top: -35%;
}

#divPlayBtn{
    margin-left: 25.5%;
    margin-top: -26%;
}

#divBackBtn{
    margin-left: 5.4%;
    margin-top: -19.4%;
}

#divSoundBtn{
    margin-left: 5.4%;
    margin-top: 1.6%;
}


#gameOverScreen_hangMan{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameOverTitleHangman{

    margin-left: 8.4%;
    margin-top: 10.9%;
}

.mainCharacterIndi{
    margin-left: 72.8%;
    margin-top: -63.2%;
}

#divPlayAgainBtnGameOver{
    margin-left: 35.9%;
    margin-top: -22.3%;
}

#divBackBtnHangManGameOver{
    margin-left: 5.4%;
    margin-top: -15%;
}

#divSoundBtnHangManGameOver{
    margin-left: 5.4%;
    margin-top: 2.1%;
}

#gameWonScreen_hangMan{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameWonTitleHangman{
    margin-left: 8.4%;
    margin-top: 10.9%;
}

#divPlayAgainBtnGameWon{

    margin-left: 35.9%;
    margin-top: -22.3%;
}

#divBackBtnHangManGameWon{
    margin-left: 5.4%;
    margin-top: -15%;
}

#divSoundBtnHangManGameWon{
    margin-left: 5.4%;
    margin-top: 2.1%;
}

#intro2Screen{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro2{
    margin-left: 17%;
    margin-top: 27.9%;
}

#divSoundBtnIntro2{
    margin-left: 5.4%;
    margin-top: 12.5%;
}

#divContinueBtnIntro2{

    margin-left: 82.8%;
    margin-top: -14.4%;
}

#intro3Screen{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro3{
    margin-left: 22.2%;
    margin-top: 16.3%;
}

#divSoundBtnIntro3{
    margin-left: 5.2%;
    margin-top: 1.4%;
}

#divContinueBtnIntro3{

    margin-left: 82.8%;
    margin-top: -14.4%;
}


#gameScreen_hangMan{
    background-image: url('../img/RepiteHangman.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#adivinaBackground{
    margin-left: 4.1%;
    margin-top: 12.4%; 
}

#tltPalabras{
    margin-left: 20.4%;
    margin-top: -69.5%; 

}

#btnHomeHangman{
    margin-left: 3%;
    margin-top: -11.7%; 
}

#btnSoundHangman{
    margin-left: 88.5%;
    margin-top: -10.3%; 
}


#eclipseHangman{

    margin-left: 44.6%;
    margin-top: 11.6%; 
}

#sunPathHangman{

    margin-left: 18%;
    margin-top: -6.7%; 
}

#sunHangman{
    margin-left: 6%;
    margin-top: -6.5%; 
}

#moonPathHangman{
    margin-left: 56.3%;
    margin-top: -6.7%; 
}

#moonHangman{
    margin-left: 84.3%;
    margin-top: -5.8%; 
}

#usedLettersHangman{
    margin-left: 10%;
    margin-top: 13.7%; 
}

#topicBarHangman{
    
    
    margin-top: -36%;    
}

#level{
    margin-left: auto;
    margin-right: auto;
    display: block;
}



#letraQ{
    margin-left: 22%;
    margin-top: 32%; 
}

#letraW{
    margin-left: 27.6%;
    margin-top: -5.8%; 
}
#letraE{
    margin-left: 33.1%;
    margin-top: -6%; 
}
#letraR{
    margin-left: 38.5%;
    margin-top: -6.1%; 
}
#letraT{
    margin-left: 44%;
    margin-top: -6.1%; 
}
#letraY{
    margin-left: 49.5%;
    margin-top: -6.1%; 
}
#letraU{
    margin-left: 55%;
    margin-top: -6.1%; 
}
#letraI{
    margin-left: 60.5%;
    margin-top: -6.1%; 
}
#letraO{
    margin-left: 66%;
    margin-top: -6.1%; 
}
#letraP{
    margin-left: 71.5%;
    margin-top: -6.1%; 
}


#letraA{
    margin-left: 22%;
    margin-top: -0.5%; 
}
#letraS{
    margin-left: 27.5%;
    margin-top: -6%; 
}
#letraD{
    margin-left: 33%;
    margin-top: -6%; 
}
#letraF{
    margin-left: 38.5%;
    margin-top: -6%; 
}
#letraG{
    margin-left: 44%;
    margin-top: -6%; 
}
#letraH{
    margin-left: 49.5%;
    margin-top: -6%; 
}
#letraJ{
    margin-left: 55%;
    margin-top: -6%; 
}
#letraK{
    margin-left: 60.5%;
    margin-top: -6%; 
}
#letraL{
    margin-left: 66%;
    margin-top: -6%; 
}
#letraNN{
    margin-left: 71.5%;
    margin-top: -6%; 
}

#letraZ{
    margin-left: 30.3%;
    margin-top: -0.9%; 
}
#letraX{
    margin-left: 35.8%;
    margin-top: -6.1%; 
}
#letraC{
    margin-left: 41.3%;
    margin-top: -6.1%; 
}
#letraV{
    margin-left: 46.8%;
    margin-top: -6.1%; 
}
#letraB{
    margin-left: 52.3%;
    margin-top: -6.1%; 
}
#letraN{
    margin-left: 57.8%;
    margin-top: -6.1%; 
}
#letraM{
    margin-left: 63.3%;
    margin-top: -6.1%; 
}

/* .movement{
    transition-property: margin-left;
    transition-duration: 3s;
    margin-left: 60% !important;
} */


#wordAburraes{
    margin-left: auto;
    margin-right: auto;
    margin-top: -29%;
    display: block;

}

#imgWordaburraes{
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#aburraes_a1{
    display: block;
    margin-left: 33.2%;
    margin-top: -5%;
}

#aburraes_a2{
    display: block;
    margin-left: 55.4%;
    margin-top: -5%;
}
#aburraes_b{
    display: block;
    margin-left: 37.8%;
    margin-top: -5.5%;
}
#aburraes_u{
    display: block;
    margin-left: 42%;
    margin-top: -5.2%;
}
#aburraes_r1{
    display: block;
    margin-left: 46.3%;
    margin-top: -5.2%;
}
#aburraes_r2{
    display: block;
    margin-left: 50.9%;
    margin-top: -5.2%;
}
#aburraes_e{
    display: block;
    margin-left: 60%;
    margin-top: -5.2%;
}
#aburraes_s{
    display: block;
    margin-left: 64.2%;
    margin-top: -5.2%;
}

.ocultarLetter{
    display: none !important;
}


#containerWrongLetters{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.7%;
    width: 100%;   
   
}

#container2{
    margin-left: 27%;
    width: 100%; 

}

.wrongLetters{
   
    display: inline-block;
    margin-left: 5%;

}


#imgWordaltura{
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#altura_a1{
    display: block;
    margin-left: 37.6%;
    margin-top: -5%;
}

#altura_a2{
    display: block;
    margin-left: 59.7%;
    margin-top: -5.3%;

}

#altura_l{
    display: block;
    margin-left: 42.3%;
    margin-top: -5.3%;

}

#altura_t{
    display: block;
    margin-left: 46.8%;
    margin-top: -5.4%;

}
#altura_u{
    display: block;
    margin-left: 51%;
    margin-top: -5.3%;
}
#altura_r{
    display: block;
    margin-left: 55.2%;
    margin-top: -5.3%;
}

.imgCurrentWord{
    margin-left: auto;
    margin-right: auto;
    display: block;

}


#ceremoniales_c{
    display: block;
    margin-left: 24.5%;
    margin-top: -5.3%;
}
#ceremoniales_e1{
    display: block;
    margin-left: 29.3%;
    margin-top: -5.3%;
}
#ceremoniales_r{
    display: block;
    margin-left: 33.3%;
    margin-top: -5.3%;
}
#ceremoniales_e2{
    display: block;
    margin-left: 38%;
    margin-top: -5.3%;
}
#ceremoniales_m{
    display: block;
    margin-left: 41.8%;
    margin-top: -5.3%;
}
#ceremoniales_o{
    display: block;
    margin-left: 46.5%;
    margin-top: -5.3%;
}
#ceremoniales_n{
    display: block;
    margin-left: 51%;
    margin-top: -5.3%;
}
#ceremoniales_i{
    display: block;
    margin-left: 56%;
    margin-top: -5.3%;
}
#ceremoniales_a{
    display: block;
    margin-left: 59.7%;
    margin-top: -5.3%;
}
#ceremoniales_l{
    display: block;
    margin-left: 64.5%;
    margin-top: -5.3%;
}
#ceremoniales_e3{
    display: block;
    margin-left: 68.8%;
    margin-top: -5.3%;
}
#ceremoniales_s{
    display: block;
    margin-left: 73.2%;
    margin-top: -5.3%;
}

#cerro_c{
    display: block;
    margin-left: 39.9%;
    margin-top: -5.3%;
}
#cerro_e{
    display: block;
    margin-left: 44.5%;
    margin-top: -5.3%;
}
#cerro_r1{
    display: block;
    margin-left: 48.6%;
    margin-top: -5.3%;
}
#cerro_r2{
    display: block;
    margin-left: 53.2%;
    margin-top: -5.3%;
}
#cerro_o{
    display: block;
    margin-left: 57.7%;
    margin-top: -5.3%;
}

#indi_i1{
    display: block;
    margin-left: 42.7%;
    margin-top: -5.3%;
}

#indi_n{
    display: block;
    margin-left: 46.2%;
    margin-top: -5.3%;
}

#indi_d{
    display: block;
    margin-left: 50.9%;
    margin-top: -5.3%;
}

#indi_i2{
    display: block;
    margin-left: 56%;
    margin-top: -5.3%;
}


#kila_k{
    display: block;
    margin-left: 42%;
    margin-top: -5.3%;
}

#kila_i{
    display: block;
    margin-left: 47.2%;
    margin-top: -5.3%;
}

#kila_l{
    display: block;
    margin-left: 50.9%;
    margin-top: -5.3%;
}

#kila_a{
    display: block;
    margin-left: 55.5%;
    margin-top: -5.3%;
}





#medellin_m{
    display: block;
    margin-left: 32.8%;
    margin-top: -5.3%;
}

#medellin_e1{
    display: block;
    margin-left: 38%;
    margin-top: -5.3%;
}

#medellin_d{
    display: block;
    margin-left: 42.2%;
    margin-top: -5.3%;
}

#medellin_e2{
    display: block;
    margin-left: 46.7%;
    margin-top: -5.3%;
}

#medellin_l1{
    display: block;
    margin-left: 51.3%;
    margin-top: -5.3%;
}

#medellin_l2{
    display: block;
    margin-left: 55.7%;
    margin-top: -5.3%;
}

#medellin_i{
    display: block;
    margin-left: 60.5%;
    margin-top: -5.3%;
}

#medellin_n{
    display: block;
    margin-left: 64%;
    margin-top: -5.3%;
}


#primavera_p{
    display: block;
    margin-left: 31.5%;
    margin-top: -5.3%;
}
#primavera_r1{
    display: block;
    margin-left: 35.4%;
    margin-top: -5.3%;
}
#primavera_i{
    display: block;
    margin-left: 40.6%;
    margin-top: -5.3%;
}
#primavera_m{
    display: block;
    margin-left: 44%;
    margin-top: -5.3%;
}
#primavera_a1{
    display: block;
    margin-left: 48.8%;
    margin-top: -5.3%;
}
#primavera_v{
    display: block;
    margin-left: 53.3%;
    margin-top: -5.3%;
}
#primavera_e{
    display: block;
    margin-left: 58%;
    margin-top: -5.3%;
}
#primavera_r2{
    display: block;
    margin-left: 62%;
    margin-top: -5.3%;
}
#primavera_a2{
    display: block;
    margin-left: 66.3%;
    margin-top: -5.3%;
}


#valledeaburra_v{
    display: block;
    margin-left: 20.3%;
    margin-top: -5.3%;
}
#valledeaburra_a1{
    display: block;
    margin-left: 24.6%;
    margin-top: -5.3%;
}
#valledeaburra_l1{
    display: block;
    margin-left: 29.2%;
    margin-top: -5.3%;
}
#valledeaburra_l2{
    display: block;
    margin-left: 33.6%;
    margin-top: -5.3%;
}
#valledeaburra_e1{
    display: block;
    margin-left: 38%;
    margin-top: -5.3%;
}
#valledeaburra_d{
    display: block;
    margin-left: 44.7%;
    margin-top: -5.3%;
}
#valledeaburra_e2{
    display: block;
    margin-left: 49%;
    margin-top: -5.3%;
}
#valledeaburra_a2{
    display: block;
    margin-left: 55.4%;
    margin-top: -5.3%;
}
#valledeaburra_b{
    display: block;
    margin-left: 59.8%;
    margin-top: -5.3%;
}
#valledeaburra_u{
    display: block;
    margin-left: 64%;
    margin-top: -5.3%;
}
#valledeaburra_r1{
    display: block;
    margin-left: 68.4%;
    margin-top: -5.3%;
}
#valledeaburra_r2{
    display: block;
    margin-left: 72.8%;
    margin-top: -5.3%;
}
#valledeaburra_a3{
    display: block;
    margin-left: 77%;
    margin-top: -5.3%;
}


#tradicional_t{
    display: block;
    margin-left: 27%;
    margin-top: -5.3%;
}
#tradicional_r{
    display: block;
    margin-left: 30.9%;
    margin-top: -5.3%;
}
#tradicional_a1{
    display: block;
    margin-left: 35.5%;
    margin-top: -5.3%;
}
#tradicional_d{
    display: block;
    margin-left: 40%;
    margin-top: -5.3%;
}
#tradicional_i1{
    display: block;
    margin-left: 45%;
    margin-top: -5.3%;
}
#tradicional_c{
    display: block;
    margin-left: 48.8%;
    margin-top: -5.3%;
}
#tradicional_i2{
    display: block;
    margin-left: 54%;
    margin-top: -5.3%;
}
#tradicional_o{
    display: block;
    margin-left: 57.7%;
    margin-top: -5.3%;
}
#tradicional_n{
    display: block;
    margin-left: 62%;
    margin-top: -5.3%;
}
#tradicional_a2{
    display: block;
    margin-left: 66.5%;
    margin-top: -5.3%;
}
#tradicional_l{
    display: block;
    margin-left: 71%;
    margin-top: -5.3%;
}