section{
    width:auto;
    height:auto;
    /* border:1px solid black; */

    /* max-width: 50%;
    height: auto; */

 
    /* display: block; */
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;

  }

  html, body{
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
  

.ocultar{
    display:none;
}

#mainScreen_hangMan{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#titleWithText{
    margin-left: 12.5%;
    margin-top: 12%;
}

#mainCharacter{
    margin-left: 73%;
    margin-top: -35%;
}

#divPlayBtn{
    margin-left: 25.5%;
    margin-top: -26%;
}

#divBackBtn{
    margin-left: 5.4%;
    margin-top: -19.4%;
}

#divSoundBtn{
    margin-left: 5.4%;
    margin-top: 1.6%;
}


#gameOverScreen_hangMan{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameOverTitleHangman{

    margin-left: 8.4%;
    margin-top: 10.9%;
}

.mainCharacterIndi{
    margin-left: 72.8%;
    margin-top: -63.2%;
}

#divPlayAgainBtnGameOver{
    margin-left: 35.9%;
    margin-top: -22.3%;
}

#divBackBtnHangManGameOver{
    margin-left: 5.4%;
    margin-top: -15%;
}

#divSoundBtnHangManGameOver{
    margin-left: 5.4%;
    margin-top: 2.1%;
}

#gameWonScreen_hangMan{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameWonTitleHangman{
    margin-left: 8.4%;
    margin-top: 10.9%;
}

#divPlayAgainBtnGameWon{

    margin-left: 35.9%;
    margin-top: -22.3%;
}

#divBackBtnHangManGameWon{
    margin-left: 5.4%;
    margin-top: -15%;
}

#divSoundBtnHangManGameWon{
    margin-left: 5.4%;
    margin-top: 2.1%;
}

#intro2Screen{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro2{
    margin-left: 17%;
    margin-top: 27.9%;
}

#divSoundBtnIntro2{
    margin-left: 5.4%;
    margin-top: 12.5%;
}

#divContinueBtnIntro2{

    margin-left: 82.8%;
    margin-top: -14.4%;
}

#intro3Screen{
    background-image: url('../img/background.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro3{
    margin-left: 22.2%;
    margin-top: 16.3%;
}

#divSoundBtnIntro3{
    margin-left: 5.2%;
    margin-top: 1.4%;
}

#divContinueBtnIntro3{

    margin-left: 82.8%;
    margin-top: -14.4%;
}


#gameScreen_hangMan{
    background-image: url('../img/RepiteHangman.png');
    height: 768px;
    width: 1024px;
    background-position: center;
    overflow:hidden; 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#adivinaBackground{
    margin-left: 4.1%;
    margin-top: 12.4%; 
}

#tltPalabras{
    margin-left: 20.4%;
    margin-top: -69.5%; 

}

#btnHomeHangman{
    margin-left: 3%;
    margin-top: -11.7%; 
}

#btnSoundHangman{
    margin-left: 88.5%;
    margin-top: -10.3%; 
}


#eclipseHangman{

    margin-left: 44.6%;
    margin-top: 11.6%; 
}

#sunPathHangman{

    margin-left: 18%;
    margin-top: -6.7%; 
}

#sunHangman{
    margin-left: 6%;
    margin-top: -6.5%; 
}

#moonPathHangman{
    margin-left: 56.3%;
    margin-top: -6.7%; 
}

#moonHangman{
    margin-left: 84.3%;
    margin-top: -5.8%; 
}

#usedLettersHangman{
    margin-left: 10%;
    margin-top: 13.7%; 
}

#topicBarHangman{
    margin-left: 31%;
    margin-top: -36%;    
}

#letraQ{
    margin-left: 22%;
    margin-top: 32%; 
}

#letraW{
    margin-left: 27.6%;
    margin-top: -5.8%; 
}
#letraE{
    margin-left: 33.1%;
    margin-top: -6%; 
}
#letraR{
    margin-left: 38.5%;
    margin-top: -6.1%; 
}
#letraT{
    margin-left: 44%;
    margin-top: -6.1%; 
}
#letraY{
    margin-left: 49.5%;
    margin-top: -6.1%; 
}
#letraU{
    margin-left: 55%;
    margin-top: -6.1%; 
}
#letraI{
    margin-left: 60.5%;
    margin-top: -6.1%; 
}
#letraO{
    margin-left: 66%;
    margin-top: -6.1%; 
}
#letraP{
    margin-left: 71.5%;
    margin-top: -6.1%; 
}


#letraA{
    margin-left: 22%;
    margin-top: -0.5%; 
}
#letraS{
    margin-left: 27.5%;
    margin-top: -6%; 
}
#letraD{
    margin-left: 33%;
    margin-top: -6%; 
}
#letraF{
    margin-left: 38.5%;
    margin-top: -6%; 
}
#letraG{
    margin-left: 44%;
    margin-top: -6%; 
}
#letraH{
    margin-left: 49.5%;
    margin-top: -6%; 
}
#letraJ{
    margin-left: 55%;
    margin-top: -6%; 
}
#letraK{
    margin-left: 60.5%;
    margin-top: -6%; 
}
#letraL{
    margin-left: 66%;
    margin-top: -6%; 
}
#letraNN{
    margin-left: 71.5%;
    margin-top: -6%; 
}

#letraZ{
    margin-left: 30.3%;
    margin-top: -0.9%; 
}
#letraX{
    margin-left: 35.8%;
    margin-top: -6.1%; 
}
#letraC{
    margin-left: 41.3%;
    margin-top: -6.1%; 
}
#letraV{
    margin-left: 46.8%;
    margin-top: -6.1%; 
}
#letraB{
    margin-left: 52.3%;
    margin-top: -6.1%; 
}
#letraN{
    margin-left: 57.8%;
    margin-top: -6.1%; 
}
#letraM{
    margin-left: 63.3%;
    margin-top: -6.1%; 
}

/* .movement{
    transition-property: margin-left;
    transition-duration: 3s;
    margin-left: 60% !important;
} */


#wordAburraes{
    margin-left: auto;
    margin-right: auto;
    margin-top: -29%;
    display: block;

}

#imgWordHangman{
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#aburraes_a1{
    display: block;
    margin-left: 33.2%;
    margin-top: -5%;
}

#aburraes_a2{
    display: block;
    margin-left: 55.4%;
    margin-top: -5%;
}
#aburraes_b{
    display: block;
    margin-left: 37.8%;
    margin-top: -5.5%;
}
#aburraes_u{
    display: block;
    margin-left: 42%;
    margin-top: -5.2%;
}
#aburraes_r1{
    display: block;
    margin-left: 46.3%;
    margin-top: -5.2%;
}
#aburraes_r2{
    display: block;
    margin-left: 50.9%;
    margin-top: -5.2%;
}
#aburraes_e{
    display: block;
    margin-left: 60%;
    margin-top: -5.2%;
}
#aburraes_s{
    display: block;
    margin-left: 64.2%;
    margin-top: -5.2%;
}

.ocultarLetter{
    display: none !important;
}


#containerWrongLetters{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.2%;
    width: 100%;   
   
}

#container2{
    margin-left: 27%;
    width: 100%; 

}

.wrongLetters{
   
    display: inline-block;
    margin-left: 5%;

}

