html, body{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    background-image: url('../img/Repite-min.png');
}
.oculto{
    display: none;
}


.concentrate_1{
    position: relative;
    width:100%;
    height:100%;
    
}
/* -----------------Section 1------------------------- */
.killa_intro{
    position: fixed;
    top: 15%;
    right: 7%;
    width: 212px;
    height: 570px;
    background: url("../img/Kila2-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}

.concentrate_text{
    position: fixed;
    top: 13%;
    left: 18%;
    width: 485px;
    height: 364px;
    background: url("../img/concentrate-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.btn_jugar{
    position: fixed;
    bottom: 10%;
    left: 31%;
    width: 200px;
    height: 220px;
    background: url("../img/Jugar_btn-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.btn_jugar.ganar{
    bottom: 16%;
    left: 37%;
    width: 140px;
    height: 150px; 
}
.btn_jugar.perder{
    bottom: 16%;
    left: 37%;
    width: 140px;
    height: 150px; 
}

.btn_atras{
    position: fixed;
    bottom: 25%;
    left: 10%;
    width: 65px;
    height: 70px;
    background: url("../img/atras_btn-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.btn_sonido{
    position: fixed;
    bottom: 13%;
    left: 10%;
    width: 65px;
    height: 70px;
    background: url("../img/sonido_btn-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.perdiste{
    position: fixed;
    top: 13%;
    left: 12%;
    width: 598px;
    height: 578px;
    background: url("../img/perdiste_concentrate-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}
.ganaste{
    position: fixed;
    top: 13%;
    left: 12%;
    width: 598px;
    height: 578px;
    background: url("../img/ganaste_concentrate-min.png") no-repeat;
    background-position: center center;
    background-size: 100%;
}